@use '../utils/variables'as *;
.app{

    margin-left: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-grey-light-3;
 
}