@use "../utils/variables" as *;

.home {
  &__container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }

  &__text {
    flex: 3;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__heading--one {
    color: rgba(51, 90, 51, 0.842);
    font-size: 7rem;
    font-weight: 400;
    font-family: cursive;
    &-icon {
      margin-right: 1rem;
      color: $color-primary;
    }
  }

  &__heading--three {
    font-size: 3rem;
    font-family: cursive;
  }

  &__about--text {
    padding: 1rem 20rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__social--link {
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      font-size: 3.4rem;
      color: #38616b;
      padding: 1rem 1.2rem;
      text-decoration: none;
      transition: all 0.3s ease-out;

      &:hover {
        transform: scale(1.2);
        color: $color-grey-dark-3;
      }
    }
  }

  &__btn-resume {
    font-size: 1.8rem;
    width: 14rem;
    padding: 1.6rem 2rem;
    background-color: transparent;
    border: 1px solid $color-primary;
    border-radius: 0 1.5rem;
    transition: all 0.3s ease;
    text-decoration: none;

    &:hover {
      transform: scale(1.1);
      color: $color-grey-light-2;
      background-color: $color-primary;
    }
  }

  // Profile Section
  &__profile {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__img {
    background-size: cover;
    max-width: 40%;
    border-radius: 50%;
    z-index: 1;
    animation: imgShowAnimation 3s alternate;
  }

  // Individual Circles with Animation
  &__img--circle {
    width: 70%;
    height: 160%;
    border: 2px solid #f9fcf881;
    position: absolute;

    background-color: #91c28b83;

    &-1 {
      border-radius: 49% 51% 56% 44% / 50% 64% 36% 50%;
      animation: rotateAnimation 6s linear infinite;
    }

    &-2 {
      border-radius: 56% 44% 56% 44% / 30% 55% 45% 70%;
      animation: rotateAnimation 6s reverse infinite;
    }

    &-3 {
      border-radius: 29% 71% 46% 54% / 50% 43% 57% 50%;

      animation: rotateAnimation 6s linear infinite;
    }

    &-4 {
      border-radius: 53% 47% 46% 54% / 50% 43% 57% 50%;
      animation: rotateAnimation 6s reverse infinite;
    }

    &-5 {
      border-radius: 66% 34% 70% 30% / 50% 68% 32% 50%;

      animation: rotateAnimation 6s linear infinite;
    }

    &-6 {
      border-radius: 29% 71% 70% 30% / 50% 47% 53% 50%;
      animation: rotateAnimation 6s reverse infinite;
    }

    &-7 {
      border-radius: 56% 44% 70% 30% / 50% 68% 32% 50%;
      animation: rotateAnimation 6s linear infinite;
    }
  }
}
@keyframes imgShowAnimation {
  0% {
    transform: scale(60%);
  }
  100% {
    transform: scale(100%);
  }
}
// Animation Keyframes
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
