 @use './variables' as *;
.btn{
  padding: 1rem 2rem;
  line-height: 1rem;
  border: 2px solid $color-grey-light-1;
  font-size: 1.6rem;
  color: $color-grey-dark-1;
  transition: all .3s ease-in;
  border-radius: 5%;
  cursor: pointer;
}
.btn:hover{
  transform: scale(1.2);
 
}
.btn-slider{
  font-size: 2rem;
  color:#fff;
  border: none;
  background-color: transparent;
}